.min-height-card {
  min-height: 8rem;
}

.platforms > .title-stats {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.p-card .p-card-body {
  padding: 1rem !important;
}

.p-card .p-card-content {
  padding: 0 !important;
}
