.text-hover-bottom-bar {
  color: var(--primary-color-text);
  text-decoration: none;
}

.text-hover-bottom-bar:hover {
  border-bottom: 1px solid var(--primary-color-text);
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}
