.card-position {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
}

.type-card {
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 30vw;
}

.choosed {
  box-shadow: 0 0 5px #000;
  border: none;
}

.background-left {
  width: 50%;
  background-color: #555555;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
